/* Base Style */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Cinzel', serif;
    background-image: url(http://img00.deviantart.net/e2b6/i/2012/270/3/4/cup_cake_love_by_michellis13-d5g2u8o.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}








.slideshow > .slides,
#mainslider > .navigators {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    color: #fff;
}

.slideshow > .slides > .slide {
    width: 100%;
    height: 100%;
    margin-left: 100%;
    overflow: hidden;
    position: absolute;
}

.slideshow > .slides > #home {
    margin-left: 0;
}

.slideshow > .slides > .slide > img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.slideshow > .navigators > .status > .blut {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: none;
    border: white solid medium;
    margin: 5px;
    cursor: pointer;
}

.slideshow > .slides > .slide {
    background-color: black;
}

.slideshow > .slides > .slide > *:not(img):not(h1) {
    opacity: 0;
    padding-top: 60px;
    -webkit-animation: hideC 1s;
    animation: hideC 1s;
}

.slideshow:hover > .slides > .slide > *:not(img):not(h1) {
    opacity: 1;
    padding-top: 0px;
    -webkit-animation: showC .5s;
    animation: showC .5s;
}

.slideshow > .slides > .slide > h1 {
    padding-top: 20px;
    opacity: .8;
    -webkit-animation: hideh .5s;
    animation: hideh .5s;
}

.slideshow:hover > .slides > .slide > h1 {
    -webkit-animation: showh .5s;
    animation: showh .5s;
    padding-top: 0;
    opacity: 1;
}

.slideshow > .slides > .slide > img {
    opacity: .9;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.slideshow > .navigators {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.slideshow > .navigators > .icon,
.slideshow > .navigators > .status > * {
    opacity: .5;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.slideshow:hover > .slides > .slide > img {
    opacity: .8;
}

.slideshow:hover > .navigators,
.slideshow > .navigators > .icon:hover,
.slideshow > .navigators > .status > *:hover {
    opacity: 1;
}

@keyframes showh {
    from {
        padding-top: 20px;
        opacity: .8;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes showh {
    from {
        padding-top: 20px;
        opacity: .8;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

@keyframes hideh {
    to {
        padding-top: 20px;
        opacity: .8;
    }
    from {
        padding-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes hideh {
    to {
        padding-top: 20px;
        opacity: .8;
    }
    from {
        padding-top: 0;
        opacity: 1;
    }
}

@keyframes showC {
    from {
        padding-top: 60px;
        opacity: 0;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes showC {
    from {
        padding-top: 60px;
        opacity: 0;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}

@keyframes hideC {
    to {
        padding-top: 60px;
        opacity: 0;
    }
    from {
        padding-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes hideC {
    to {
        padding-top: 60px;
        opacity: 0;
    }
    from {
        padding-top: 0;
        opacity: 1;
    }
}
/* // customizable code */
/****** slider *****/

#mainslider {
    width: 100%;
    float: left;
    height: 350px;
    position: relative;
    cursor: default;
    overflow: hidden;
    text-align: left;
}

#mainslider > .slides > .slide > h1 {
    font-size: 35px;
    margin: 100px auto 0 auto;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#mainslider > .slides > .slide > p {
    font-size: 15px;
    width: 60%;
    margin-top: 145px;
    padding: 0 20%;
    display: inline-block;
    text-align: center;
    position: absolute;
}

#mainslider > .navigators > .left,
#mainslider > .navigators > .right {
    margin-top: 155px;
    font-size: 40px;
    cursor: pointer;
}

#mainslider > .navigators > .left {
    margin-left: 10%;
    float: left;
}

#mainslider > .navigators > .right {
    margin-right: 10%;
    float: right;
}

#mainslider > .navigators > .status {
    width: 100%;
    margin-top: 300px;
    text-align: center;
}

#mainslider > .navigators > .status > .blut.current {
    background-color: #02c9e9;
}



















a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: #00002e;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 20px;
}

li a.active {
    color: #00002e;
}


/* Header Style */

.hover-space,
.hover-message,
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hover-space {
    height: 70px;
    z-index: 99;
}

.hover-space:hover header {
    opacity: 1;
    transition: 1s;
}

.hover-message {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 15px;
    text-align: center;
    opacity: 0;
    animation: fadeout 7s;
    -webkit-animation: fadeout 7s;
    -moz-animation: fadeout 7s;
}

header {
    height: 70px;
    background-color: #FFF;
    text-align: left;
    line-height: 70px;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    animation: fadeout 4s;
    -webkit-animation: fadeout 4s;
    -moz-animation: fadeout 4s;
}

header .logo {
    position: absolute;
    left: 20px;
    color: #00002e;
    font-weight: 600;
}

header nav {
    position: absolute;
    right: 20px;
    color: #CCC;
}


/* Keyframes */

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Other */

footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF;
}

footer p {
    font-weight: 600;
}